.about-us {
  display: flex;
  flex-direction: row;
  padding: 40px 20px;
  text-align: center;
  background-color: #fff;
  color: #051853;
  height: 120vh;
}

.about-us h2 {
  font-size: 2.5em;
  color: #051853;
  margin-bottom: 20px;
}

.years-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-us p {
  font-size: 1em;
  text-align: left;
  color: #051853;
  line-height: 2;
}

.about-content {
  display: flex;
  flex-direction: row;
}

.icon {
  font-size: 1.5em;
  font-weight: bolder;
  color: #051853;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.student {
  width: 35vw;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.text {
  padding-block: 10px;
}